@use '../../../../styles/index' as *;

@forward '../Header/Header';

.LetterLayout {
    position: relative;
    inset-inline-start: -16px;
    width: 100vw;
    max-width: 21cm;
    min-height: 29.7cm;

    display: grid;
    grid-template-rows: min-content 1fr min-content;

    background-color: $neutral;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    @include hide-scrollbar;

    @include wide-mobile {
        inset: unset;
        width: 100%;
    }

    @include print {
        max-height: 29.7cm;
    }

    &_Content {
        padding: 30px;
        height: 100%;

        @include a4OrPrint {
            padding-inline: 90px;
        }

        @include print {
            padding-block-start: 0;
        }
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 30px;
        background-color: rgb(33, 71, 97);

        @include print {
            display: none;
        }
    }
}
