@use '../../../../styles/index' as *;

@forward '../EditHeadersStep/EditHeadersStep';
@forward '../EditTextStep/EditTextStep';

.EditModal {
    &_ModalContent {
        &-isSecondStep {
            max-width: unset;
            width: calc(21cm + 48px);

            @include full-size-modal {
                width: 100%;
            }
        }
    }
}
