@use '../../../../styles/index' as *;

.LetterContent {
    --font-size: 14px;
    --line-height: calc(var(--font-size) * 1.5);

    font-size: var(--font-size);
    line-height: var(--line-height);

    @include tablet {
        --font-size: 16px;
    }

    @include print {
        --font-size: 12px;
    }

    &_Header {
        &::after {
            content: '';
            display: block;
            margin-block: 16px 24px;
            height: 8px;
            width: max(235px, 45%);
            background: linear-gradient(to right, rgb(33, 71, 97), $primary);
            border-radius: 8px;
        }
    }

    &_Recipient {
        margin-block-end: 12px;

        span {
            display: block;
        }
    }

    &_To {
        margin-block-end: 4px;
        color: #7c7c7c;
        @include font-size(13, 13);

        @include print {
            @include font-size(11, 11);
        }
    }

    &_Date {
        display: block;
        color: #7c7c7c;
    }

    &_Greeting {
        display: block;
        margin-block: 16px var(--line-height);
        font-weight: 500;
    }

    &_Content {
        @include prose($size-modification: 1px);
        @include flex-column;
        gap: 20px;

        @include tablet {
            @include prose($size-modification: 3px);
        }

        @include print {
            @include prose($size-modification: -1px);
        }
    }

    &_Farewell {
        margin-block-start: var(--line-height);
        @include flex-column;
    }

    &_Signature {
        font-family: 'Dancing Script', Roboto, sans-serif;
        @include font-size(20, 30);
    }
}
