$neutral: #fff;
$neutral-contrast: #050A46;
$primary: #0082FF;
$primary-dark: #642178;
$primary-contrast: $neutral;
$secondary: violet;
$secondary-contrast: $neutral-contrast;
$background: #fff;
$color-disabled: gray;
