@use '../../../../styles/index' as *;

@forward '../Toolbar/Toolbar';

.EditorModalHeader {
    &_ModalTitle {
        @include full-size-modal {
            width: calc(100% - 48px);
        }
    }
}

.EditorModalBody {
    padding: 0;
    overflow: unset;

    @include full-size-modal {
        display: flex;
        flex-direction: column;
    }

    &_Content {
        max-height: calc(90dvh - 241px);
        display: flex;
        flex-direction: column;
        overflow: auto;

        @include full-size-modal {
            flex-grow: 1;
            max-height: calc(100vh - 95px);
        }
    }

    &_Editor {
        padding: 24px;
        min-height: 30vh;
        max-height: min(90vh, 500px);
        padding-bottom: 0;
        @include prose;

        @include full-size-modal {
            flex-grow: 1;
            padding: 16px;

            @include wide-mobile {
                padding-inline: 24px;
            }
        }

        p {
            &.is-editor-empty:first-child::before {
                content: 'Write your message...';
                height: 0;
                float: left;
                color: #9ca3af;
                pointer-events: none;

                [data-lang='pl'] & {
                    content: 'Napisz swoją wiadomość...';
                }
            }
        }
    }

    &_Toolbar {
        margin: 16px 24px;
        width: fit-content;

        @include full-size-modal {
            margin: 0;
            width: 100%;

            @include wide-mobile {
                padding-inline: 24px;
            }
        }
    }
}
