@use './util' as *;

@mixin blockquote-styles {
    padding: 1rem 10px;
    background-color: #f9f9f9;
    border-inline-start: 5px solid #0d0d0d1a;
}

@mixin list-styles {
    margin-block-start: 8px !important;
    padding-inline-start: 20px !important;
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-position: inside;

    &:is(ul) {
        list-style-type: disc;
    }

    &:is(ol) {
        list-style-type: decimal;
    }

    p {
        display: inline;
    }

    ul,
    ol {
        margin-block-start: 8px !important;
        padding-inline-start: 20px !important;
    }

    li {
        & > ul {
            list-style-type: circle;

            ul {
                list-style-type: square;
            }
        }

        & > ol {
            list-style-type: lower-alpha;

            ol {
                list-style-type: lower-roman;
            }
        }
    }
}

@mixin decorators {
    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    s {
        text-decoration: line-through;
    }

    u {
        text-decoration: underline;
    }
}

@mixin indent-styles {
    @for $indent from 1 through 4 {
        [data-indent='#{$indent}'] {
            margin-inline-start: $indent * 40px;
        }
    }
}

@mixin size-styles($mod: 0px) {
    $sizes: (
        'sm': 10px + $mod,
        'md': 13px + $mod,
        'lg': 18px + $mod,
        'xl': 32px + $mod,
    );

    @each $name, $font-size in $sizes {
        [data-size='#{$name}'] {
            font-size: $font-size;

            min-height: $font-size * 1.5;
        }
    }
}

@mixin prose($size-modification: 0px) {
    @include decorators;
    @include indent-styles;
    @include size-styles($mod: $size-modification);

    font-size: 13px + $size-modification;
    line-height: 1.5;
    color: #111827;

    p {
        min-height: (13px + $size-modification) * 1.5;
    }

    blockquote {
        @include blockquote-styles;
    }

    ul,
    ol {
        @include list-styles;
    }
}
