@use '../../styles/index' as *;

@keyframes skeleton-loading {
    100% {
        transform: translateX(100%);
    }
}

.Skeleton {
    --radius: 4px;
    --base-color: #fff;
    --highlight-color: #d1d5db;
    --height: auto;
    --padding: 0;

    display: inline-block;
    padding-block-end: var(--padding);
    width: 100%;

    &_Line {
        position: relative;
        margin-block: var(--padding);
        height: var(--height);
        display: flex;
        border-radius: var(--radius);
        background-color: var(--base-color);
        line-height: 1;
        user-select: none;
        overflow: hidden;

        &:first-child {
            margin-block-start: 0;
        }

        &:last-child {
            margin-block-end: 0;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            background-repeat: no-repeat;
            background-image: linear-gradient(90deg, var(--base-color), var(--highlight-color), var(--base-color));
            transform: translateX(-100%);
            animation: skeleton-loading 1.5s ease-in-out infinite;

            @media (prefers-reduced-motion) {
                display: none;
            }
        }
    }
}
