@use '../../styles/index' as *;

.CopyToClipboard {
    @include box(20px);
    @include flex-center;
    opacity: 0.2;
    color: #fff;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 150ms, opacity cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    cursor: pointer;

    &:hover {
        color: $primary;
        opacity: 1;
    }

    &:focus-visible {
        box-shadow: gold 0 0 4px 2px;
    }

    @include print {
        visibility: hidden;
    }

    svg {
        @include box(16px);
    }
}
