@use '../../../../styles/index' as *;

@forward '../../../RichTextEditor/components/EditorModal/EditorModal';

.EditTextStep {
    overflow-y: auto;

    &_Editor {
        @include not-full-size-modal {
            &,
            * {
                overflow: unset;
                max-height: unset;
            }
        }
    }

    &_RichText {
        height: 696px;
        overflow-y: auto;

        @include full-size-modal {
            height: 100%;
            overflow: unset;
        }
    }

    &_Configuration {
        padding: 8px 16px;
        @include flex-column;
        gap: 12px;

        select {
            width: 300px;
        }
    }

    &_Footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;

        & > * + * {
            margin-inline: 0;
        }

        @include full-size-modal {
            padding-block: 16px;
        }
    }

    &_Explanation {
        margin-block-end: 16px;

        h5 {
            margin-block-end: 12px;
        }

        ul {
            @include list-styles;
        }
    }

    &_SubmitArea {
        width: 100%;
        @include flex-center-v;
        justify-content: flex-end;
        gap: 32px;

        @include full-size-modal {
            flex-direction: column;
            gap: 16px;
        }
    }

    &_SubmitInput {
        width: 100%;
    }

    &_Submit {
        min-width: 200px;
    }
}
