@use '../../../../styles/index' as *;

.Certificates {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    &-isBig {
        grid-template-columns: 1fr 1fr;
    }

    &_Item {
        .Link {
            display: flex;
           @include list-item;
        }
    }
}
