@use '../../styles/index' as *;

.Tooltip {
    position: absolute;
    z-index: z-index('popover');
    display: inline-block;
    visibility: hidden;
    width: max-content;
    opacity: 0;
    padding: 8px 12px;
    border-radius: 8px;
    @include font-size(14, 20);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

    &-light {
        background-color: #fff;
        color: #111827;
        border: 2px solid #e5e7eb;
    }

    &-dark {
        background-color: #111827;
        color: #fff;
    }

    &-isOpen {
        visibility: visible;
        opacity: 1;
    }

    &_Target {
        width: fit-content;
    }

    &_Content {
        position: relative;
        z-index: 10;
    }

    &_Arrow {
        position: absolute;
        z-index: z-index("notification");
        @include box(8px);
        transform: rotate(45deg);
        background-color: #111827;

        &-light {
            background-color: #fff;
        }

        &-dark {
            background-color: #111827;
        }
    }
}
