@use '../../../../styles/index' as *;

@forward '../EditCoverLetterHeaders/EditCoverLetterHeaders';
@forward '../EditCoverLetterText/EditCoverLetterText';

.EditCoverLetterModal {
    &_ModalContent {
        &-isSecondStep {
            max-width: unset;
            width: calc(21cm + 48px);

            @include full-size-modal {
                width: 100%;
            }
        }
    }
}
