@use '../../styles/index' as *;

.A4 {
    position: relative;
    margin-block-end: 24px;
    height: 29.7cm;
    display: flex;
    flex-direction: column;

    &-aside {
        background-color: rgb(33, 71, 97);
        color: $neutral;
    }

    &-main {
        background-color: $neutral;
    }

    @include print {
        margin-block-end: 0;
    }

    &_Footer,
    &_FooterSkeleton {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    &_FooterSkeleton {
        --padding: 4px;
    }

    &_Consent {
        color: #8a8a8a;
    }
}
