@use '../../styles/index' as *;

@forward '../Header/Header';
@forward '../Footer/Footer';

.App {
    margin-inline: auto;

    @include wide-mobile {
        width: (calc(100% - 64px));
    }

    @include a4 {
        width: 21cm;
    }

    &-isWide {
        margin-inline: unset;
        width: auto;
    }

    &_Header {
        margin-block-end: 32px;

        &-isWide {
            margin-block-end: 0;
        }
    }

    @include print {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;

        &_Header,
        &_Footer {
            display: none;
        }
    }
}
