@use '../../styles/index' as *;

@forward '../Header/Header';
@forward '../FindCompany/FindCompany';
@forward '../Actions/Actions';
@forward '../Footer/Footer';

.App {
    margin-inline: auto;

    @include wide-mobile {
        width: (calc(100% - 64px));
    }

    @include a4 {
        width: 21cm;
    }

    &_Header {
        margin-block-end: 32px;
    }

    &_Main {
        margin-inline: auto;
        width: calc(100% - 32px);
        padding-block: 20px;

        @include wide-mobile {
            width: 100%;
        }

        @include desktop {
            padding-block: 30px;
        }

        @include print {
            padding-block: 0;
        }
    }

    &_CompanySearchSkeleton {
        height: 44px;
        --height: 44px;
        --radius: 8px;
        overflow: hidden;
    }

    &_CompanySearch,
    &_CompanySearchSkeleton {
        margin-block-end: 32px;
        max-width: 400px;
    }

    &_Actions {
        margin-inline: auto;
        width: 100%;

        @include tablet {
            padding-inline-end: 16px;
        }

        @include desktop {
            padding-inline-end: unset;
            width: 21cm;
        }
    }

    .Actions {
        position: relative;

        &_ActionBar {
            margin-block-end: 16px;

            @include desktop {
                flex-direction: column;
                gap: 24px;
                position: absolute;
                inset-inline-start: calc(100% + 16px);
            }
        }
    }

    @include print {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;

        &_Header,
        &_Footer,
        &_Actions,
        &_CompanySearch,
        &_CompanySearchSkeleton {
            display: none;
        }
    }
}
